.activeParent .active svg{
    rotate: -90deg;
}
.tree_icons_parents:hover .tree_icons{
    display: flex;
    transition: all;
}
.tree_icons_parents:hover .tree_icon_info{
    /* display: flex; */
    /* transition: all; */
    display:none
}